.profile-image{
    max-width: 300px;
    height: auto;
    border-radius: 30px;
}
a {
    color: green;
}
a:hover {
    color: red;
}
#main_title {
    text-align: center;
    color: navy;
}

body {
    background: bisque;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #222;

    margin: 20px;
    padding: 20px;
}